<table class="table table-dark table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'ingredient'%>
  </tbody>
  </table>
